@media (max-width:375px) {

    .navbar{
        width: 100%;
        padding: 1rem 1rem;
    }
    .navbar .phone-icon{
        display: inline;
    }
    .nav-items{
        display: none;
    }
    .gallery-section,
    .property-section,
    .middle-section,
    .question-box,
    .rule-info,
    .review-section,
    .last-container{
        margin-left: 2px;
        margin-right: 2px;
        /*margin-left: 1rem;
        margin-right: auto;*/
    }
    .share-text{
        display: none; 
    }
    /*Gallery pics*/
    .photo-count{
        right: 10px;
    }
    /**/
    .title-section h1 {
        font-size: 30px;
        
    }
    .content{
        display: block;
        gap: 30px;
    }   

    .explore-container {
        border-radius: 14px;
        display: block;
    }
    .explore-info {
        margin-left: 0px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .location-list{
        font-size: 10px;
    }
    .booking-card {
       width: 330px;
    }
    .amenities-section ,
    .amenities-grid{
        display: block;
        i{
            width: 20px;
            margin-right: 5px;
        }
        span{
            font-size: 12px;
        }
    }

    .house-rules, .damage , .cancellation, .important-info, .faq {
        display: block;
        row-gap: 2px;
    
    }
    .left-col {
        width: 0%;
        margin-left: 18px;
        margin-bottom: 20px;
        padding-right: 20px;
    }
    .checkin-checkout-info1, 
    .checkin-checkout-info2
    {
      display: block;
    }
    /*Cancellation Part*/
   
    
    .review-section{   
        display: block;  
    }
    .review-container {
        
    }
    .last-section {
        display: block;
    }
    .contact-button {
        margin-top: 20px;
    }
    .checkin-checkout-info2{
        display: none;
    }
    .checkin-checkout-info1 .see-more ,
    .right-col  .see-more{
        display: inline-block;
        margin-top: 10px;
        font-size: 1em;
        color: #0077cc; /* Blue color for link */
        text-decoration: none;
    }

    .right-col .faq-item:nth-child(2),
    .right-col .faq-item:nth-child(3),
    .right-col .faq-item:nth-child(4) {
        display: none;
    }
}